<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends 'blog/base.html' %}

{% block content %}
<div class="container w-50">
         <h1>Настройки профиля</h1>
</div>

<div class="container w-70">
    <div class="row">
        <div class="col-md-4 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                {% if profile_info.photo %}
                    <img src="{{profile_info.photo.url}}" alt="avatar"
                      class="rounded-circle img-fluid" style="width: 150px;">
                    {% else %}
                    <img src="/blog/images/blog/images/3.jpg" alt="avatar"
                      class="rounded-circle img-fluid" style="width: 150px;">
                    {% endif %}
                <span class="font-weight-bold">{{profile_info.user.username}}</span></div>
        </div>
        <div class="col-md-6 border-right">
            <div class="p-3 py-5">
                <form method="POST" class="post-form" enctype="multipart/form-data">{% csrf_token %}
                    {{ user_form.as_p }}
                    {{ profile_form.as_p }}
                    <button type="submit" class="btn btn-primary profile-button">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
</body>
</html>