<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


  <div class="container py-5">

    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
              class="rounded-circle img-fluid" style="width: 150px;">
            <h5 class="my-3">{{profile_info.username}}</h5>
            <p class="text-muted mb-1">Статус: {{profile_info.status}}</p>
            <div class="d-flex justify-content-center mb-2">
              <button type="button" class="btn btn-primary">Мяукнуть</button>
              <a class="btn btn-outline-primary ms-1" href="{% url 'profile_edit' pk=profile_info.pk %}">Редактировать</a>
            </div>
          </div>
        </div>



      </div>
      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Ник:</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{profile_info.username}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Email:</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{profile_info.email}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Последний вход:</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{profile_user.last_login}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Дата присоединения:</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{profile_user.date_joined}}</p>
              </div>
            </div>
          </div>
        </div>
            <div class="card">
              <div class="card-body">
                <p class="mb-4"><span class="text-primary font-italic me-1">Ваши посты</span> </p>
                <div>
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th scope="col">Заголовок</th>
                          <th scope="col">Дата публикации</th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for post in posts %}
                            <tr>
                              <td>{{post.title}}</td>
                              <td>{{post.published_date}}</td>
                            </tr>
                      {% endfor %}
                      </tbody>
                    </table>
                </div>
              </div>
            </div>
      </div>
    </div>
  </div>


</body>
</html>